# Core backend
Flask==2.2.5
Flask-Cors==3.0.10
gunicorn==21.2.0
Cython>=0.29.36

# EVM support
web3==6.5.0
eth-account==0.9.0

# Utilities
requests==2.31.0
pyyaml==6.0
python-dotenv==1.0.0

# Async
aiohttp==3.8.5
httpx==0.23.1  # compatible with Solana

# Non-EVM chains
solana==0.30.2
tonsdk==1.0.13