# Core backend
Flask==2.2.5
Flask-Cors==3.0.10
gunicorn==21.2.0
Cython==0.29.36

# EVM support (Ethereum, BSC, Polygon, Avalanche, etc.)
web3==6.5.0
eth-account==0.9.0

# Config + utilities
requests==2.31.0
pyyaml==6.0
python-dotenv==1.0.0

# Async + performance
aiohttp==3.8.5
httpx==0.25.0

# Non-EVM chains
# Solana
solana==0.30.2
# TON
tonsdk==1.0.13
# Sui
pysui==0.50.1